The following code takes random samples of the entire 2019 rides file.

In [80]:
import pandas as pd

In [81]:
results = pd.read_csv("../Transportation_Network_Providers_-_Trips_-_2019.csv")

In [89]:
sample_0008 = results.sample(frac=0.0008)

In [90]:
sample_0008.to_csv("data/sample_0008.csv", compression="gzip")

In [91]:
sample_003 = results.sample(frac=0.003)

In [92]:
sample_003.to_csv("data/sample_003.csv", compression="gzip")

___

Below is a graveyard of failed attemps

In [78]:
import pandas as pd

In [79]:
all_sample_2019 = pd.DataFrame()

In [ ]:
start = time.time()
for x in range(200):
    small_2019 = pd.read_csv(f"data/rides/rides_2019_{x}.csv")
    sample_small_2019 = small_2019.sample(frac=0.1)
    all_sample_2019 = pd.concat([all_sample_2019, sample_small_2019])
    print(f"{x/200}%done")
    now = time.time()
    print(f"{(now-start)/60} minutes")

___

In [69]:
import pandas as pd
from sodapy import Socrata
import time

In [70]:
client = Socrata("data.cityofchicago.org", "8BNUFOmlPGswPDZg8ZVjP6vUt")

In [76]:
results = client.get("iu3g-qa69", limit=)

In [77]:
len(results)

1000

In [ ]:
sample_2019 = results.sample(frac=0.1)

In [ ]:
sample_2019.to_csv("data/sample_2019.csv")

___

In [11]:
import pandas as pd
from sodapy import Socrata
import time

In [12]:
client = Socrata("data.cityofchicago.org", "8BNUFOmlPGswPDZg8ZVjP6vUt")

In [13]:
all_results_subset = pd.DataFrame()

In [58]:
len(all_results_subset)

243816

In [66]:
len(all_results_subset) * 10

2438460

In [60]:
(len(all_results_subset) * 10) / 112000000

0.021769285714285713

In [68]:
all_results_subset.to_csv("all_results_subset_2438460.csv")

In [ ]:
start = time.time()
for offset in range(2438460, 112000000, 10):
    print(f"{offset / 112000000}% done")
    now = time.time()
    print(f"{(now - start)/60} minutes elapsed")
    results = client.get("iu3g-qa69", limit=10, offset=offset)
    results_df = pd.DataFrame.from_records(results)
    results_df_subset = results_df.sample(frac=0.1)
    all_results_subset = pd.concat([all_results_subset, results_df_subset])

In [29]:
all_results_subset.to_csv("all_results_subset.csv")

In [28]:
all_results_subset

,trip_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,...,additional_charges,trip_total,shared_trip_authorized,trips_pooled,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location
7063,c430d1128e987d6060f0fcbbaee8e1dbf4f4a80a,2019-01-01T00:15:00.000,2019-01-01T00:30:00.000,360,0.56136074891487,17031832000,17031062000,6,6,5,...,2.5,7.5,False,1,41.9462945357,-87.6542980837,"{'type': 'Point', 'coordinates': [-87.65429808...",41.942577185,-87.6470785093,"{'type': 'Point', 'coordinates': [-87.64707850..."
9242,17c7554e9b96491de3b61191b1b214c859d50442,2019-01-01T00:30:00.000,2019-01-01T00:30:00.000,530,1.72197964816,17031031200,17031031700,3,3,5,...,2.5,8.5,False,1,41.9727095466,-87.6573411073,"{'type': 'Point', 'coordinates': [-87.65734110...",41.9654457842,-87.6631958495,"{'type': 'Point', 'coordinates': [-87.66319584..."
5692,8ce9242cb05dab30044ce595b0f2018a2246889c,2019-01-01T00:15:00.000,2019-01-01T00:15:00.000,207,0.80289992636682,17031833000,17031833100,28,28,2.5,...,2.5,7,False,1,41.8852813201,-87.6572331997,"{'type': 'Point', 'coordinates': [-87.65723319...",41.8790669938,-87.657005027,"{'type': 'Point', 'coordinates': [-87.65700502..."
4456,5b672d348d5d97f0f245f9246417e68214b3e204,2019-01-01T00:15:00.000,2019-01-01T00:15:00.000,564,4.19340262208,NaN,NaN,76,NaN,7.5,...,7.5,19,False,1,41.9802643146,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",NaN,NaN,NaN
7103,c594231578c041c124ce101b9426762102983561,2019-01-01T00:15:00.000,2019-01-01T00:30:00.000,832,3.63301584415165,17031243100,17031071300,24,7,7.5,...,2.5,10,False,1,41.8923550478,-87.674506788,"{'type': 'Point', 'coordinates': [-87.67450678...",41.9217783562,-87.6414597588,"{'type': 'Point', 'coordinates': [-87.64145975..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9558,77d0c35002ee51b8893362af256a4a88aab9ad6f,2019-01-05T18:45:00.000,2019-01-05T19:00:00.000,1082,8.24511944128,17031411100,17031320100,41,32,12.5,...,2.55,15.05,False,1,41.7904478989,-87.5904311285,"{'type': 'Point', 'coordinates': [-87.59043112...",41.8849871918,-87.6209929134,"{'type': 'Point', 'coordinates': [-87.62099291..."
1391,ee463db8c0ed3fc13e5b846b341085760b60522c,2019-01-05T18:15:00.000,2019-01-05T18:30:00.000,547,1.87213501965482,17031062900,17031842200,6,8,10,...,2.85,12.85,False,1,41.9362371791,-87.6564115308,"{'type': 'Point', 'coordinates': [-87.65641153...",41.9049353016,-87.6499072264,"{'type': 'Point', 'coordinates': [-87.64990722..."
2896,3a2fb105eb00596a6aefb64d0fa2bfe3ebc359cc,2019-01-05T18:30:00.000,2019-01-05T18:45:00.000,943,4.29719140690251,17031030703,17031071400,77,7,10,...,2.55,12.55,False,1,41.9788750584,-87.6578712629,"{'type': 'Point', 'coordinates': [-87.65787126...",41.922082541,-87.6341560931,"{'type': 'Point', 'coordinates': [-87.63415609..."
8017,3562f2bcf1783957d2377babbedf974b0424ceed,2019-01-05T18:45:00.000,2019-01-05T18:45:00.000,512,3.05232470413089,NaN,NaN,NaN,55,7.5,...,2.55,10.05,False,1,NaN,NaN,NaN,41.6636706517,-87.5409355129,"{'type': 'Point', 'coordinates': [-87.54093551..."
4611,941d6b0750ca2d1254b48f4fc072564f74c52a3e,2019-01-05T18:30:00.000,2019-01-05T18:30:00.000,512,1.9774473345069,17031080400,17031081202,8,8,5,...,2.55,7.55,False,1,41.9074128162,-87.6409015248,"{'type': 'Point', 'coordinates': [-87.64090152...",41.9027880476,-87.6261455896,"{'type': 'Point', 'coordinates': [-87.62614558..."

In [43]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 21 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   trip_id                     1600000 non-null  object
 1   trip_start_timestamp        1600000 non-null  object
 2   trip_end_timestamp          1600000 non-null  object
 3   trip_seconds                1599999 non-null  object
 4   trip_miles                  1600000 non-null  object
 5   pickup_census_tract         1104263 non-null  object
 6   dropoff_census_tract        1088075 non-null  object
 7   pickup_community_area       1513329 non-null  object
 8   dropoff_community_area      1488246 non-null  object
 9   fare                        1600000 non-null  object
 10  tip                         1600000 non-null  object
 11  additional_charges          1600000 non-null  object
 12  trip_total                  1600000 non-null  object
 13  shared_trip_authorized      1600000 non-null  bool
 14  trips_pooled                1600000 non-null  object
 15  pickup_centroid_latitude    1513888 non-null  object
 16  pickup_centroid_longitude   1513888 non-null  object
 17  pickup_centroid_location    1513888 non-null  object
 18  dropoff_centroid_latitude   1488715 non-null  object
 19  dropoff_centroid_longitude  1488715 non-null  object
 20  dropoff_centroid_location   1488715 non-null  object
dtypes: bool(1), object(20)
memory usage: 245.7+ MB

In [28]:
results_df.tail()

,trip_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,...,additional_charges,trip_total,shared_trip_authorized,trips_pooled,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location
1995,e8909605c2f5272c903c932723bca5f98c7bf228,2019-01-01T00:00:00.000,2019-01-01T00:00:00.000,499,1.3485008432,17031833000,17031081800,28,8,7.5,...,2.8,10.3,False,1,41.8852813201,-87.6572331997,"{'type': 'Point', 'coordinates': [-87.65723319...",41.8932163595,-87.6378442095,"{'type': 'Point', 'coordinates': [-87.63784420..."
1996,e8ca650d1d298b4a443dad2100cb442819549da1,2019-01-01T00:00:00.000,2019-01-01T00:45:00.000,2575,10.80416389856,17031063000,17031283800,6,28,12.5,...,0,12.5,True,2,41.9363101308,-87.6515625922,"{'type': 'Point', 'coordinates': [-87.65156259...",41.8634226841,-87.6537566193,"{'type': 'Point', 'coordinates': [-87.65375661..."
1997,e8fc3a3a1a49d66d1666e643e5bc9a799caa4784,2019-01-01T00:00:00.000,2019-01-01T00:30:00.000,1348,7.96873243966741,17031090200,NaN,9,NaN,15,...,2.5,17.5,False,1,42.0056080233,-87.8130981301,"{'type': 'Point', 'coordinates': [-87.81309813...",NaN,NaN,NaN
1998,e97a8ff5005e07ba6f843f0062ad240094479596,2019-01-01T00:00:00.000,2019-01-01T00:15:00.000,718,4.41276704496,17031833000,17031062800,28,6,10,...,2.5,12.5,False,1,41.8852813201,-87.6572331997,"{'type': 'Point', 'coordinates': [-87.65723319...",41.936159071,-87.6612652184,"{'type': 'Point', 'coordinates': [-87.66126521..."
1999,e9823c3ef97052c037ca1076ed90c7c9471a1bd3,2019-01-01T00:00:00.000,2019-01-01T00:45:00.000,2588,3.89480206796536,17031330100,17031320100,33,32,17.5,...,2.5,20,False,1,41.859349715,-87.6173580061,"{'type': 'Point', 'coordinates': [-87.61735800...",41.8849871918,-87.6209929134,"{'type': 'Point', 'coordinates': [-87.62099291..."

___

In [15]:
col_types = {"Trip ID": "object",
"Trip Start Timestamp": "object",
"Trip End Timestamp": "object",
"Trip Seconds": "float64",
"Trip Miles": "float64",
"Pickup Census Tract": "float64",
"Dropoff Census Tract": "float64",
"Pickup Community Area": "float64",
"Dropoff Community Area": "float64",
"Fare": "float64",
"Tip": "float64",
"Additional Charges": "float64",
"Trip Total": "float64",
"Shared Trip Authorized": "object",
"Trips Pooled": "float64",
"Pickup Centroid Latitude": "float64",
"Pickup Centroid Longitude": "float64",
"Pickup Centroid Location": "object",
"Dropoff Centroid Latitude": "float64",
"Dropoff Centroid Longitude": "float64",
"Dropoff Centroid Location": "object"}

In [16]:
parse_dates= ["Trip Start Timestamp", "Trip End Timestamp"]

In [17]:
rides_2019 = pd.read_csv("data/Transportation_Network_Providers_-_Trips_-_2019.csv",
                         dtype=col_types,
                         parse_dates=parse_dates)

In [19]:
rides_2019.tail()

,Trip ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,...,Additional Charges,Trip Total,Shared Trip Authorized,Trips Pooled,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
15596667,aff9e102b79ae5b6a122ec843cb770a0709cbbfa,2019-02-22 19:45:00,2019-02-22 19:45:00,528.0,2.4,1.703105e+10,1.703124e+10,5.0,24.0,5.0,...,2.55,9.55,false,1.0,41.935749,-87.68098,POI{,NaN,NaN,NaN
15596668,"""error"" : true",NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15596669,"""message"" : ""Internal error""",NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15596670,"""status"" : 500",NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15596671,},NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
rides_2019["Trip Start Timestamp"] = pd.to_datetime(rides_2019["Trip Start Timestamp"])

In [21]:
rides_2019["Trip Start Timestamp"].describe()

<ipython-input-21-77947d2cc5d7>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  rides_2019["Trip Start Timestamp"].describe()

count                15596668
unique                   5072
top       2019-01-01 02:00:00
freq                     9367
first     2019-01-01 00:00:00
last      2019-02-22 19:45:00
Name: Trip Start Timestamp, dtype: object

In [4]:
rides_subset = rides_2019.sample(frac=0.1)

In [5]:
rides_subset.head()

,Trip ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,...,Additional Charges,Trip Total,Shared Trip Authorized,Trips Pooled,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
2968702,1f6a560d87a9f0d590ec8b240dc3725e965ca1c3,01/12/2019 04:45:00 AM,01/12/2019 05:30:00 AM,1895.0,20.1,NaN,NaN,77.0,56.0,25.0,...,8.15,36.15,False,1.0,41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),41.792592,-87.769615,POINT (-87.7696154528 41.7925923603)
14625293,346a72e9a551bac36773b8d0089c7987512df9a9,02/19/2019 06:00:00 PM,02/19/2019 06:30:00 PM,1103.0,3.3,NaN,NaN,31.0,29.0,10.0,...,2.55,12.55,False,1.0,41.850266,-87.667569,POINT (-87.667569312 41.8502663663),41.860190,-87.717220,POINT (-87.7172201 41.8601900192)
6576620,062167bbaf1469b8c785db0dc85eeab1d8272ee1,01/24/2019 03:45:00 PM,01/24/2019 04:45:00 PM,3543.0,18.4,1.703132e+10,1.703198e+10,32.0,76.0,32.5,...,7.55,40.05,False,1.0,41.877406,-87.621972,POINT (-87.6219716519 41.8774061234),41.979071,-87.903040,POINT (-87.9030396611 41.9790708201)
4163974,bf9c791b7de6721cd57330221cf0ef24e1a069ee,01/16/2019 01:15:00 PM,01/16/2019 01:30:00 PM,483.0,1.5,1.703183e+10,1.703107e+10,7.0,7.0,5.0,...,2.55,7.55,False,1.0,41.921877,-87.664078,POINT (-87.6640782395 41.9218774613),41.922083,-87.634156,POINT (-87.6341560931 41.922082541)
1129787,0e6340ee4c0ad81be3f1e59ab5a8d6062822f419,01/05/2019 02:00:00 PM,01/05/2019 02:15:00 PM,959.0,2.8,1.703183e+10,1.703108e+10,7.0,8.0,7.5,...,0.67,9.17,False,1.0,41.921877,-87.664078,POINT (-87.6640782395 41.9218774613),41.893216,-87.637844,POINT (-87.6378442095 41.8932163595)

In [6]:
rides_subset['Trip Start Timestamp'] = pd.to_datetime(rides_subset['Trip Start Timestamp'])

In [8]:
rides_subset['Trip End Timestamp'] = pd.to_datetime(rides_subset['Trip End Timestamp'])

In [9]:
rides_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1559667 entries, 2968702 to 5470817
Data columns (total 21 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Trip ID                     1559667 non-null  object
 1   Trip Start Timestamp        1559667 non-null  datetime64[ns]
 2   Trip End Timestamp          1559667 non-null  datetime64[ns]
 3   Trip Seconds                1559666 non-null  float64
 4   Trip Miles                  1559667 non-null  float64
 5   Pickup Census Tract         1126406 non-null  float64
 6   Dropoff Census Tract        1119918 non-null  float64
 7   Pickup Community Area       1471145 non-null  float64
 8   Dropoff Community Area      1459240 non-null  float64
 9   Fare                        1559667 non-null  float64
 10  Tip                         1559667 non-null  float64
 11  Additional Charges          1559667 non-null  float64
 12  Trip Total                  1559667 non-null  float64
 13  Shared Trip Authorized      1559667 non-null  object
 14  Trips Pooled                1559667 non-null  float64
 15  Pickup Centroid Latitude    1472027 non-null  float64
 16  Pickup Centroid Longitude   1472027 non-null  float64
 17  Pickup Centroid Location    1472027 non-null  object
 18  Dropoff Centroid Latitude   1460175 non-null  float64
 19  Dropoff Centroid Longitude  1460175 non-null  float64
 20  Dropoff Centroid Location   1460175 non-null  object
dtypes: datetime64[ns](2), float64(15), object(4)
memory usage: 261.8+ MB

In [10]:
rides_subset.to_csv("data/rides_2019_subset.csv")

___

In [4]:
rides_2019['Trip Start Timestamp'] = pd.to_datetime(rides_2019['Trip Start Timestamp'])

In [12]:
jan_2019 = rides_2019[(rides_2019['Trip Start Timestamp'] >= '2019-01-01') & (rides_2019['Trip Start Timestamp'] < '2019-02-01')]

In [14]:
len(rides_2019) / 200

77983.36

In [21]:
# split up file into 200 smaller files
# smaller_files = []
for x in range(200):
    if x == 0:
        start_idx = 0
        stop_idx = 77984
        rides_2019_small = rides_2019[start_idx:stop_idx][:]
    elif x == 199:
        start_idx = 77984 * x
        rides_2019_small = rides_2019[start_idx:][:]
    else:
        start_idx = 77984 * x
        stop_idx = start_idx + 77984
        rides_2019_small = rides_2019[start_idx:stop_idx][:]
    # smaller_files.append(rides_2019_small)
    rides_2019_small.to_csv(f"data/rides_2019_{x}.csv")

In [20]:
len(smaller_files)

200

In [5]:
rides_2019.head()

,Trip ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,...,Additional Charges,Trip Total,Shared Trip Authorized,Trips Pooled,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,003dd08da70461f811e7753fbaec03970414bddf,2019-01-01,01/01/2019 12:30:00 AM,1722.0,9.5,1.703108e+10,1.703183e+10,8.0,1.0,17.5,...,2.50,20.00,False,1.0,41.895033,-87.619711,POINT (-87.6197106717 41.8950334495),42.001698,-87.673574,POINT (-87.6735740325 42.0016981937)
1,0043023973ca23fb921a20f07e83848779ef317d,2019-01-01,01/01/2019 12:15:00 AM,487.0,2.1,1.703105e+10,1.703106e+10,5.0,6.0,5.0,...,2.50,9.50,False,1.0,41.957736,-87.683718,POINT (-87.683718102 41.957735565),41.936159,-87.661265,POINT (-87.6612652184 41.936159071)
2,007948a0627fa8aadde0c951d2b0db3f4f2f9252,2019-01-01,01/01/2019 12:30:00 AM,1298.0,18.6,1.703198e+10,NaN,76.0,NaN,22.5,...,8.25,35.75,False,1.0,41.979071,-87.903040,POINT (-87.9030396611 41.9790708201),NaN,NaN,NaN
3,0094daae9466da501bb6a819a91cd4f00e5cda40,2019-01-01,01/01/2019 12:15:00 AM,562.0,2.4,1.703184e+10,1.703122e+10,8.0,22.0,7.5,...,2.50,10.00,False,1.0,41.904935,-87.649907,POINT (-87.6499072264 41.9049353016),41.915910,-87.683826,POINT (-87.6838259399 41.9159097884)
4,00987083f23af0936863ebb1e1da1d7c6c0a453e,2019-01-01,01/01/2019 12:15:00 AM,245.0,0.7,1.703183e+10,1.703128e+10,28.0,28.0,2.5,...,2.50,7.00,False,1.0,41.885281,-87.657233,POINT (-87.6572331997 41.8852813201),41.879255,-87.642649,POINT (-87.642648998 41.8792550844)

In [6]:
rides_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15596672 entries, 0 to 15596671
Data columns (total 21 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Trip ID                     object
 1   Trip Start Timestamp        datetime64[ns]
 2   Trip End Timestamp          object
 3   Trip Seconds                float64
 4   Trip Miles                  float64
 5   Pickup Census Tract         float64
 6   Dropoff Census Tract        float64
 7   Pickup Community Area       float64
 8   Dropoff Community Area      float64
 9   Fare                        float64
 10  Tip                         float64
 11  Additional Charges          float64
 12  Trip Total                  float64
 13  Shared Trip Authorized      object
 14  Trips Pooled                float64
 15  Pickup Centroid Latitude    float64
 16  Pickup Centroid Longitude   float64
 17  Pickup Centroid Location    object
 18  Dropoff Centroid Latitude   float64
 19  Dropoff Centroid Longitude  float64
 20  Dropoff Centroid Location   object
dtypes: datetime64[ns](1), float64(15), object(5)
memory usage: 2.4+ GB