# Rideshare Data Cleaning

In [33]:
import pandas as pd
import numpy as np

In [34]:
# Random 0.003% sample of entire 2019 dataset
df_003 = pd.read_csv("data/sample_003.csv", compression="gzip", index_col=0)

In [35]:
df_003.head()

,Trip ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,...,Additional Charges,Trip Total,Shared Trip Authorized,Trips Pooled,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
96692526,9c54e99de2a3eb56af84eb128c98d9f723a2cd72,11/11/2019 11:30:00 AM,11/11/2019 11:45:00 AM,524.0,1.9,NaN,NaN,29.0,NaN,7.5,...,2.55,10.05,False,1,41.860190,-87.717220,POINT (-87.7172201 41.8601900192),NaN,NaN,NaN
11025760,e5af9ebfe60312b7f5ee17b16f6d8ebb8533a52d,02/08/2019 10:15:00 AM,02/08/2019 10:30:00 AM,854.0,3.0,1.703124e+10,1.703184e+10,24.0,32.0,7.5,...,2.55,10.05,False,1,41.906651,-87.665338,POINT (-87.6653376596 41.9066507664),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707)
24409345,e3e6e9f52cd800e77d96aa50e3bf4a71a19bcea2,03/20/2019 11:15:00 PM,03/20/2019 11:30:00 PM,793.0,7.6,1.703108e+10,1.703103e+10,8.0,77.0,12.5,...,2.55,15.05,False,1,41.899156,-87.626211,POINT (-87.6262105324 41.8991556134),41.994442,-87.665225,POINT (-87.6652247765 41.9944422482)
88969168,785241f934518559bcc2e4609657e027922e4166,10/18/2019 02:45:00 PM,10/18/2019 03:15:00 PM,1799.0,14.1,NaN,NaN,16.0,NaN,22.5,...,2.55,30.05,False,1,41.953582,-87.723452,POINT (-87.7234523905 41.9535821253),NaN,NaN,NaN
66927329,f55fbbe4a9030e0845fe53e51d4c6b059816b1f1,08/05/2019 07:30:00 AM,08/05/2019 07:30:00 AM,482.0,3.2,1.703184e+10,1.703135e+10,28.0,35.0,10.0,...,0.00,10.00,True,2,41.867902,-87.642959,POINT (-87.6429586652 41.8679024175),41.827400,-87.624089,POINT (-87.624088952 41.8274002516)

In [38]:
# Rename columns
df_003.columns = df_003.columns.str.lower()
df_003.columns = df_003.columns.str.replace(' ','_')

In [39]:
print("There are {:,} rows and {} columns in the dataset.".format(df_003.shape[0], df_003.shape[1]))
df_003.columns

There are 335,552 rows and 21 columns in the dataset.

Index(['trip_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_census_tract', 'dropoff_census_tract',
       'pickup_community_area', 'dropoff_community_area', 'fare', 'tip',
       'additional_charges', 'trip_total', 'shared_trip_authorized',
       'trips_pooled', 'pickup_centroid_latitude', 'pickup_centroid_longitude',
       'pickup_centroid_location', 'dropoff_centroid_latitude',
       'dropoff_centroid_longitude', 'dropoff_centroid_location'],
      dtype='object')

In [40]:
# Converting data types
df_003 = df_003.astype({'trip_id' : str,
                          'trip_start_timestamp' : 'datetime64[ns]',
                          'trip_end_timestamp' : 'datetime64[ns]',
                          'trip_seconds': float,
                          'trip_miles': float,
                          'pickup_community_area': str,
                          'dropoff_census_tract': str,
                          'pickup_census_tract' : str,
                          'dropoff_community_area' : str,
                          'fare' : float,
                          'tip' : float,
                          'additional_charges': float,
                          'trip_total': float,
                          'shared_trip_authorized': bool,
                          'trips_pooled': int})
df_003.info()
print('''\n The first observation in the data is from {} and the 
         last observation is from {}.'''.format(df_003["trip_start_timestamp"].min(), 
                                                df_003["trip_end_timestamp"].max()))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 335552 entries, 96692526 to 85528272
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   trip_id                     335552 non-null  object
 1   trip_start_timestamp        335552 non-null  datetime64[ns]
 2   trip_end_timestamp          335552 non-null  datetime64[ns]
 3   trip_seconds                334905 non-null  float64
 4   trip_miles                  335535 non-null  float64
 5   pickup_census_tract         335552 non-null  object
 6   dropoff_census_tract        335552 non-null  object
 7   pickup_community_area       335552 non-null  object
 8   dropoff_community_area      335552 non-null  object
 9   fare                        335552 non-null  float64
 10  tip                         335552 non-null  float64
 11  additional_charges          335552 non-null  float64
 12  trip_total                  335552 non-null  float64
 13  shared_trip_authorized      335552 non-null  bool
 14  trips_pooled                335552 non-null  int64
 15  pickup_centroid_latitude    314557 non-null  float64
 16  pickup_centroid_longitude   314557 non-null  float64
 17  pickup_centroid_location    314557 non-null  object
 18  dropoff_centroid_latitude   312111 non-null  float64
 19  dropoff_centroid_longitude  312111 non-null  float64
 20  dropoff_centroid_location   312111 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(10), int64(1), object(7)
memory usage: 54.1+ MB

 The first observation in the data is from 2019-01-01 00:00:00 and the
         last observation is from 2020-01-01 00:45:00.

In [41]:
# Create new variables 
df_003['date'] = df_003['trip_start_timestamp'].dt.normalize()
df_003['trip_start_month'] = df_003['date'].dt.month
df_003['trip_start_weekday'] = df_003["trip_start_timestamp"].dt.dayofweek 
df_003['trip_start_hour'] = df_003["trip_start_timestamp"].dt.hour
df_003['trip_total_per_mile'] = df_003['trip_total'] / df_003['trip_miles']
df_003['trip_total_per_sec'] = df_003['trip_total'] / df_003['trip_seconds']

**For the purposes of our analysis we drop trip observations for which:**
1. there are missing values for trip duration, trip distance, pickup location, or dropoff location;
2. the trip distance is equal to 0;
3. the trip total is equal to 0 dollars or greater than 100 dollars; and/or
4. the trip duration is equal to 0 or greater than 90 minutes

In [42]:
needs_fill_na = ["trip_seconds",
                 "trip_miles", 
                 'pickup_centroid_latitude',
                 'pickup_centroid_longitude',
                 'pickup_centroid_location',
                 'dropoff_centroid_latitude',
                 'dropoff_centroid_longitude',
                 'dropoff_centroid_location',
                 'trip_total_per_mile',
                 'trip_total_per_sec']

In [51]:
df_003.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287763 entries, 11025760 to 85528272
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   trip_id                     287763 non-null  object
 1   trip_start_timestamp        287763 non-null  datetime64[ns]
 2   trip_end_timestamp          287763 non-null  datetime64[ns]
 3   trip_seconds                287763 non-null  float64
 4   trip_miles                  287763 non-null  float64
 5   pickup_census_tract         287763 non-null  object
 6   dropoff_census_tract        287763 non-null  object
 7   pickup_community_area       287763 non-null  object
 8   dropoff_community_area      287763 non-null  object
 9   fare                        287763 non-null  float64
 10  tip                         287763 non-null  float64
 11  additional_charges          287763 non-null  float64
 12  trip_total                  287763 non-null  float64
 13  shared_trip_authorized      287763 non-null  bool
 14  trips_pooled                287763 non-null  int64
 15  pickup_centroid_latitude    287763 non-null  float64
 16  pickup_centroid_longitude   287763 non-null  float64
 17  pickup_centroid_location    287763 non-null  object
 18  dropoff_centroid_latitude   287763 non-null  float64
 19  dropoff_centroid_longitude  287763 non-null  float64
 20  dropoff_centroid_location   287763 non-null  object
 21  date                        287763 non-null  datetime64[ns]
 22  trip_start_month            287763 non-null  int64
 23  trip_start_weekday          287763 non-null  int64
 24  trip_start_hour             287763 non-null  int64
 25  trip_total_per_mile         287763 non-null  float64
 26  trip_total_per_sec          287763 non-null  float64
 27  shared_trip_auth_num        287763 non-null  int64
dtypes: bool(1), datetime64[ns](3), float64(12), int64(5), object(7)
memory usage: 61.7+ MB

In [43]:
# Cleaning data
df_003 = df_003.dropna(subset=needs_fill_na)
df_003 = df_003[(df_003.fare > 0) & (df_003.fare < 100)]
df_003 = df_003[(df_003.trip_miles > 0)]
df_003 = df_003[(df_003.trip_seconds > 0) & (df_003.trip_seconds < 5400)]
df_003.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287763 entries, 11025760 to 85528272
Data columns (total 27 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   trip_id                     287763 non-null  object
 1   trip_start_timestamp        287763 non-null  datetime64[ns]
 2   trip_end_timestamp          287763 non-null  datetime64[ns]
 3   trip_seconds                287763 non-null  float64
 4   trip_miles                  287763 non-null  float64
 5   pickup_census_tract         287763 non-null  object
 6   dropoff_census_tract        287763 non-null  object
 7   pickup_community_area       287763 non-null  object
 8   dropoff_community_area      287763 non-null  object
 9   fare                        287763 non-null  float64
 10  tip                         287763 non-null  float64
 11  additional_charges          287763 non-null  float64
 12  trip_total                  287763 non-null  float64
 13  shared_trip_authorized      287763 non-null  bool
 14  trips_pooled                287763 non-null  int64
 15  pickup_centroid_latitude    287763 non-null  float64
 16  pickup_centroid_longitude   287763 non-null  float64
 17  pickup_centroid_location    287763 non-null  object
 18  dropoff_centroid_latitude   287763 non-null  float64
 19  dropoff_centroid_longitude  287763 non-null  float64
 20  dropoff_centroid_location   287763 non-null  object
 21  date                        287763 non-null  datetime64[ns]
 22  trip_start_month            287763 non-null  int64
 23  trip_start_weekday          287763 non-null  int64
 24  trip_start_hour             287763 non-null  int64
 25  trip_total_per_mile         287763 non-null  float64
 26  trip_total_per_sec          287763 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(12), int64(4), object(7)
memory usage: 59.6+ MB

In [46]:
# Replace boolean with 1 and -1 so we can take sign later
df_003["shared_trip_auth_num"]= np.where(df_003["shared_trip_authorized"] == True, 1, -1)

In [50]:
df_003.to_csv("data/rideshare_003_clean.csv", compression="gzip")